<footer class="cr-footer-container">
    <div class="cr-footer">
        <div class="cr-footer-top">
            <div class="cr-f-content-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <span>Lorem ipsum dolor sit amet</span>
            </div>
            <div class="cr-footer-btn">
                <a href="javascript:void(0)">SYMU.CO/FREEBIES</a>
        
            </div>
        </div>
        
    </div>
    <div class="cr-footer-bg">

    </div>

</footer>