<section class="cr-gallery-container">
    <div class="cr-gallery">
        <div class="cr-gallery-top">
            <div class="cr-gallery-top-pic">
                <img src="assets/images/ic1.jpg" />
            </div>
            <div class="cr-gallery-top-content">
                <div class="cr-gallery-content-desc">
                    <span>Lorem ipsum dolor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                </div>
            </div>
        </div>
        <div class="cr-gallery-bottom">
            <div class="cr-gallery-bottom-pic">
                <img src="assets/images/ic2.jpg" />
            </div>
            <div class="cr-gallery-bottom-content">
                <div class="cr-bottom-content-desc">
                    <span>Lorem ipsum dolor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
                </div>
            </div>
        </div>
    </div>
</section>