// variables
$container-width: 75%;
$full-width-container: 100%;
$container-height: 100vh;
$header-background-image: url("../../images/landing-bg.jpg");
$repeat: no-repeat;
$container-center: 0 auto;
$gallery-background: #F7F8FC;
$width-half: 50%;
$f-background-image: url("../../images/footer-bg.jpg");
$f-background-eclipse: url("../../images/eclipse-header.jpg");
$testimonial-bg: url("../../images/Snowflake.png");
$video-bg: url("../../images/sn1-bg.png");
$video-bg2: url("../../images/sn2-bg.png");
$primary-color: #43a9ff;
$secondary-color:#fe3254;
$black-color:#000000;
$text-color:#d3d6da;
$heading-size:46px

