<section class="cr-testimonial-container">
    <div class="cr-testimonial">
        <div class="cr-testimonial-left">
            <div class="cr-test-image-">
                <img src="assets/images/user-photo.png"  />
            </div>
        </div>
        <div class="cr-testimonial-right">
            <span class="cr-testimonial-title">Template is awesome</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
            <div class="cr-testimonial-profile">
                <span>John Doe</span>
                <p>CEO at crios.com</p>
            </div>
        </div>
    </div>
</section>