@import '../../../assets/scss/base/variables.scss';
@import '../../../assets/scss/base/mixins';
@import '../../../assets/scss/base/responsive.scss';
section{
    width: $container-width;
    margin: $container-center;
    @include sm{
        width: 100%;
        
    }
    .cr-video-container-top{
        @include lg{
            flex-direction: column;
        }
        @include sm{
            flex-direction: column;
        }
        width: $full-width-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 12% 0;
        
        &:after{
            content: "";
            position: absolute;
            left: -35%;
            top: -11%;
            background-position: top;
            background-size: inherit;
            height: 75%;
            width: 100%;
            background-repeat: no-repeat;
            background-image: $video-bg;
            @include sm{
                display: none;
            }
        }
        .cr-video-left {
            flex: 1;
            position: relative;
            z-index: 5;
            margin: 0 0 0 10%;
            @include sm{
                margin: unset;
            }
            img{
                @include sm{
                    width: 100%;
                }
            }
        }
        .cr-video-content-right {
            flex: 1;
            .cr-v-content-top-desc {
                width: $full-width-container;
                display: flex;
                flex-direction: column;
                gap: 30px;
                @include sm{
                    text-align: center;
                }
                span{
                    @include mainHeadin();
                    color: $primary-color;
                    font-size: 42px;
                    @include sm{
                        font-size: 32px;
                    }
                }
                p{
                    @include content();
                    text-align: justify;
                    
                    @include sm{
                        font-size: 12px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
    .cr-video-container-bottom{
        @include sm{
            flex-direction: column;
        }
        @include lg{
            flex-direction: column;
        }
        width: $full-width-container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        padding: 12% 0;
        
        &:after{
            content: "";
            position: absolute;
            bottom: 0%;
            right: -14%;
            background-position: top;
            background-size: inherit;
            height: 54%;
            width: 50%;
            background-repeat: no-repeat;
            background-image: $video-bg2;
            @include sm{
                display: none;
            }
        }
        .cr-video-bottom-left {
            flex: 1;
            position: relative;
            z-index: 5;
            img{
                @include sm{
                    width: 100%;
                }
            }
        }
        .cr-video-bottom-content-right {
            flex: 1;
            @include sm{
                position: relative;
                z-index: 10;
            }
            .cr-v-content-bottom-desc {
                width: $full-width-container;
                display: flex;
                flex-direction: column;
                gap: 30px;
                @include sm{
                  text-align: center  
                }
                span{
                    @include mainHeadin();
                    color: $primary-color;
                    font-size: 42px;
                    @include sm{
                        font-size: 32px;
                    }
                }
                p{
                    @include content();
                    text-align: justify;
                    font-size: 16px;
                    width: 80%;
                    @include sm{
                        font-size: 12px;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}