<section class="cr-video-card-container">
    <div class="cr-video-container-top">
        <div class="cr-video-left">
            <img src="assets/images/app1.png" />
        </div>
        <div class="cr-video-content-right">
            <div class="cr-v-content-top-desc">
                <span>Lorem ipsum dolor</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
           </div>
        </div>

    </div>
    <div class="cr-video-container-bottom">
        <div class="cr-video-bottom-left">
            <img src="assets/images/app2.png" />
        </div>
        <div class="cr-video-bottom-content-right">
            <div class="cr-v-content-bottom-desc">
                <span>Lorem ipsum dolor</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.</p>
           </div>
       </div>

    </div>
</section>